body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.launches {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.mission-keys {
  display: flex;
  float: right;
}

.success {
  color: #77b300;
  font-size: 1rem;
}

.fail {
  color: #cc0000;
  font-size: 1rem;
}

@media (min-width: 767px) {
  .btn-details {
    float: right;
    margin-top: 0.3rem;
  }
}

.appBar {
  margin: 0;
  padding: 0;
  background-color: #959b9f6b;
  margin-top: 0.3rem;
}

.loading {
  margin-top: 1.5rem;
  text-align: center;
  color: #adafae;
}

.card-body {
  padding-top: 0.7rem;
  padding-bottom: 1rem;
}

.show-more {
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.show-more:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: #060606; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #060606; /* creates padding around scroll thumb */
}
